<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Buongiorno</h1>
    <p>
    <a href="/pippo" >Benvenuto</a>
    </p>
    <form action="/registrati" method="get">
        <fieldset>
            <legend>Dati utente</legend>
            
            <label for="user">Nome utente:</label><br>
            <input type="text" id="user" name="user"><br>
            <label for="passw">Password:</label><br>
            <input type="text" id="passw" name="passw"><br>
            </p>
            <p>Sesso: <input name="sesso" type="radio" value="1">M
            <input name="sesso" type="radio" value="2">F</p><br>
            <input type="submit" value="Registrati">
        </fieldset>
        <br>
        <p>
        Sei già registrato?<br>
        <a href="login.html">Login</a>
        </p>
    </form>
</body>
</html>