<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bentornato!</h1>
    <form action="/login_ok.html" method="get">
        <fieldset>
            <legend>Dati utente</legend>
            
            <label for="user">Nome utente:</label><br>
            <input type="text" id="user" name="user"><br>
            <label for="passw">Password:</label><br>
            <input type="text" id="passw" name="passw"><br>
            <input type="submit" value="Login">
        </fieldset>
    </form>
</body>
</html>